<!doctype html>
<html>
<head>
  <title>AMC CMS</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>
<body>
  <div class=page>
  <div class="center" align="center">
  <h1>AMC CMS</h1>

  [% IF msg %]
    <div class=flash> [% msg %] </div>
  [% END %]

  [% content %]
  <a href='/menu'>main menu</a> | <a href='/logout'>logout</a>
  </div>
</div>
</body>
</html>

