[% IF session.logged_in %]

<h2>Users</h2>

[% IF users.size %]
  [% FOREACH id IN users.keys.nsort %]
    <h2>[% users.$id.first_name %] [% users.$id.last_name %] - <a href='/user/[% id %]'>View</a></h2>
  [% END %]
[% ELSE %]
  <li><em>No users here so far</em>
[% END %]

[% END %]
